<template>
  <header class="header">
    <h1>TodoList</h1>
    <img alt="Vue logo" src="../../assets/logo.png" /><br />
    <div id="nav">
      <router-link to="/">Home</router-link> | <router-link to="/about">About</router-link> |
      <router-link to="/vtKTest">VtkTest</router-link>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped>
.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.header a {
  color: #fff;
  padding-right: 5px;
}

img {
  max-width: 5%;
  max-width: 5%;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #277250;
}

#nav a.router-link-exact-active {
  color: #42b883;
}
</style>
