<template>
  <div id="app">
    <Todos v-bind:todos="todos" v-on:del-todo="delTodo" />
    <AddTodo v-on:add-todo="addTodo" />
  </div>
</template>

<script>
import axios from "axios";

import Todos from "../components/Todos.vue";
import AddTodo from "../components/AddTodo.vue";

export default {
  /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
  name: "Home",
  components: {
    Todos,
    AddTodo
  },
  data() {
    return {
      todos: []
    };
  },
  methods: {
    delTodo(id) {
      axios
        .delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
        // eslint-disable-next-line no-unused-vars
        .then(res => {
          this.todos = this.todos.filter(todo => todo.id !== id);
        })
        .catch(err => console.error(err));
    },
    addTodo(newTodo) {
      const { title, completed } = newTodo;

      axios
        .post("https://jsonplaceholder.typicode.com/todos", {
          title,
          completed
        })
        .then(res => {
          this.todos.push(res.data);
        })
        .catch(err => console.error(err));

      // this.todos.push(newTodo);
    }
  },
  created() {
    axios
      .get("https://jsonplaceholder.typicode.com/todos?_limit=5")
      .then(res => {
        this.todos = res.data;
      })
      .catch(err => console.error(err));
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
