<template>
  <v-app :dark="darkMode">
    <v-toolbar clipped-left app>
      <img :src="logo" :class="$style.logo" v-on:click="resetCamera()" />
      <span class="title">Cone Application</span>
      <v-spacer />
      <v-slider
        :class="$style.slider"
        hide-details
        v-model="resolution"
        :max="60"
        :min="3"
        :step="1"
      />
      <v-switch :class="$style.switch" hide-details v-model="darkMode" />
    </v-toolbar>
    <v-content :class="$style.appContent">
      <VtkView ref="vtkViewComponent" />
    </v-content>
  </v-app>
</template>

<script>
import { Mutations, Actions } from "../store/TYPES";
import logo from "../assets/vtkLogo.svg";
import VtkView from "../components/VtkView";

export default {
  name: "VtkTest",
  components: {
    VtkView
  },
  data() {
    return {
      logo
    };
  },
  computed: {
    darkMode: {
      get() {
        return this.$store.getters.APP_DARK_THEME;
      },
      set(value) {
        this.$store.commit(Mutations.APP_DARK_THEME_SET, value);
      }
    },
    resolution: {
      get() {
        return this.$store.getters.CONE_RESOLUTION;
      },
      set(value) {
        this.$store.dispatch(Actions.CONE_UPDATE_RESOLUTION, Number(value));
      }
    }
  },
  methods: {
    resetCamera() {
      this.$store.dispatch(Actions.CONE_RESET_CAMERA);
    }
  },
  mounted() {
    // Register view to the store
    this.$store.commit(Mutations.VIEW_PROXY_SET, this.$refs.vtkViewComponent.view);
    this.$store.dispatch(Actions.CONE_INITIALIZE);
  }
};
</script>

<style scoped>
/* set vuetify-specific wrapper to contain our overlay */
:global(.content--wrap) {
  position: relative;
}

.appContent {
  /* need a fixed height of arbitrary value
    * so the vtk viewers don't grow too much in
    * height when resizing. */
  height: 0;
}

.logo {
  height: 35px;
  padding-right: 10px;
}

.slider {
  max-width: 300px;
}

.switch {
  max-width: 100px;
  width: auto;
  flex: 0;
  padding-left: 20px;
}
</style>
