<template>
  <div class="todo-item" v-bind:class="{ 'is-complete': todo.completed }">
    <span>
      <input type="checkbox" v-model="todo.completed" />
      {{ todo.title }}
      <input type="button" value="X" class="del" v-on:click="$emit('del-todo', todo.id)" />
    </span>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: ["todo"],
};
</script>

<style scoped>
.todo-item {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.is-complete {
  text-decoration: line-through;
}
</style>
