<template>
  <v-container :class="$style.container" fluid fill-height v-resize="onResize">
    <div :class="[$style.renderer, 'js-renderer']" />
  </v-container>
</template>

<script>
import vtkViewProxy from "vtk.js/Sources/Proxy/Core/ViewProxy";

export default {
  name: "VtkView",
  mounted() {
    const container = this.$el.querySelector(".js-renderer");
    this.view = vtkViewProxy.newInstance();
    this.view.setContainer(container);
    this.view.getRenderer().setBackground(0.5, 0.5, 0.5);
    this.view.resize();
    this.view.renderLater();
  },
  beforeDestroy() {
    this.view.delete();
  },
  methods: {
    onResize() {
      if (this.view) {
        this.view.resize();
        this.view.renderLater();
      }
    },
    resetCamera() {
      if (this.view) {
        this.view.resetCamera();
      }
    }
  }
};
</script>

<style scoped>
.container {
  padding: 0 !important;
  margin: 0 !important;
  /* prevent view from overflowing our app during resize */
  min-height: 0;
  min-width: 0;
  max-width: 100%;

  position: relative;
  overflow: hidden;
  z-index: 0;
}

.renderer {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
